In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Absenteeism_data.csv")

In [3]:
df2=df.copy()

In [4]:
df2.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [5]:
df2=df2.drop("Age",axis=1)

In [6]:
print(df2)

     ID  Reason for Absence        Date  Transportation Expense  \
0    11                  26  07/07/2015                     289
1    36                   0  14/07/2015                     118
2     3                  23  15/07/2015                     179
3     7                   7  16/07/2015                     279
4    11                  23  23/07/2015                     289
..   ..                 ...         ...                     ...
695  17                  10  23/05/2018                     179
696  28                   6  23/05/2018                     225
697  18                  10  24/05/2018                     330
698  25                  23  24/05/2018                     235
699  15                  28  31/05/2018                     291

     Distance to Work  Daily Work Load Average  Body Mass Index  Education  \
0                  36                  239.554               30          1
1                  13                  239.554               31          1
2                  51                  239.554               31          1
3                   5                  239.554               24          1
4                  36                  239.554               30          1
..                ...                      ...              ...        ...
695                22                  237.656               22          2
696                26                  237.656               24          1
697                16                  237.656               25          2
698                16                  237.656               25          3
699                31                  237.656               25          1

     Children  Pets  Absenteeism Time in Hours
0           2     1                          4
1           1     0                          0
2           0     0                          2
3           2     0                          4
4           2     1                          2
..        ...   ...                        ...
695         2     0                          8
696         1     2                          3
697         0     0                          8
698         0     0                          2
699         1     1                          2

[700 rows x 11 columns]

In [9]:
df2=df2.drop("ID",axis=1)

In [10]:
df2.to_csv("Removedageandid.csv")